body {
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.butLog {
    color: black;
    height: 30px;
    width: 100%;
    font-family: "Roboto Condensed", serif;
    font-weight: 700;
    font-size: 1em;
    background-color: white;
    /*background-color: #f4faff;*/
    border: solid, 1px, #2f4858;
    border-radius: 5px;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: #10191f;
}

input[type="submit"]:active {
    background-color:#2f4858;
    color: white;
}


label {
    width: 100%;
    display: inline-block;
    font-family: "Gantari", serif;
    font-size: 15.5px;
    margin-top: 4px;
}

span {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    font-family: "Gantari", serif;
}



#bacg {
    min-height:100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #f4faff;
    
}

#logPanel {
    box-sizing: border-box;
    height: inherit;
    width: 450px;
    /*background-color: #c3d7f3;*/
    background-color: white;
    border-left:  #9eaec2 solid 1px;
    border-right:  #9eaec2 solid 1px;
    color: #2f4858;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;

}


#logForm, .logFormRej {
    width: 100%;
    height: 58%;
}

#logForm .konForm {
    box-sizing: border-box;
    height: 25%;
    margin-bottom: 5px;
}

#logFoot .konForm {
    width: auto;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

}

.logFormRej .konForm {
    box-sizing: border-box;
    height: 14.29%;
    margin-bottom: 5px;
}

.konForm:has(input[type="submit"])  {
    display: flex;
    align-items: center;
}

#logForm .medLogForm {
    width: 73%;
    height: 240px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
}

.logFormRej .medLogForm {
    width: 73%;
    height: 420px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
}

#logHeader {
    width:100%;
    height: 37%;
    text-align: center;

}

#logFoot {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login {
    width: 100%;
    height: 28px;
    border: 1px black solid;
    border-radius: 8px;
    font-family: "Roboto Condensed", serif;
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 1em;
    letter-spacing: 0.5px;
    font-weight: 500;

    
}

.login:focus {
    outline: none;
    background-color: #f4faff;
    
}

.logHeaderCon {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0.8em;
}

h1 {
    font-family: "Gantari", serif;
    margin: 0;
    color: #16171a;
    /*text-decoration: underline;*/
    font-weight: 400;
    letter-spacing: -1px;

}

.line-container {
    display: flex;            /* Use flexbox to align items in a row */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
.line {
    width: 400px;             /* Makes the line take up remaining space */
    height: 2px;              /* Thickness of the line */
    background-color: #2f4858;  /* Color of the line */
    border-radius: 10px;
  }

.polic {
    font-size: 11px;
  }

  h2 {
    color: #16171a;
    font-family:"Roboto", serif;
    /*    font-family:"Gantari", serif;*/
    letter-spacing: -0.2px;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
  }
  
  .subLink a:visited, .subLink a:link  {
    color: #2f4858;
    text-decoration: none;
  }

  .subLink a:hover {
    text-decoration: underline;
  }

  .subLink a:active {
    color:black;
  }

  .subLink {
    color: #2f4858;
  }

.butRej {
    background-color: #3c6a86;
    color: white;
    height: 35px;
    width: 100%;
    font-family: "Roboto Condensed", serif;
    font-weight: 500;
    font-size: 1em;
    border-width: 0;
    border-radius: 1px;
    letter-spacing: 0.5px;
    cursor: pointer;

}
  
.checkRejLabel {
    color: #10191f;
    width:90%;
    font-size: 14px;
}

.loginWrong {

}

.frontMessageDecline {
    color: rgb(145,0,0);
}

.frontMessageAprove {
    color: rgb(0,145,0);
}